@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400;700&family=Montserrat&display=swap');

html{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.container{
    height: 400px;
    width: 200px;
    
}

.display{
    display: flex;
    justify-content: flex-end;
} 

h2{
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.button--container{
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-gap: 0.2em;
}



.square{
    height: 40px;
    width: 40px;
    border: 2px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    font-family: 'Montserrat', sans-serif;
}
.zero{
    grid-column: 2 span;
    width: 93px
}

.square:hover{
    transform: scale(1.1);
    cursor: pointer;
}